header {
  text-align: center;
  border-style: dotted;
  border-width: 3px;
  border-color: black;
  background-color: aliceblue
}

article > h3 {
  color: red
}

article li {
  font-weight: bold;
}

ul {
  list-style: none
}

section {
  background-color: lightyellow;
  padding: 10px
}

footer {
  text-align: center;
  border-style: dotted;
  border-width: 2px;
  border-color: black;
  background-color: aliceblue;
  display: block;
  bottom:0;
  width: 100%;
  padding-bottom: 20px;
  height: 30px;

}

.list-image li {
  margin: 2em 0
}

.list-image img {
  height: 300px
}

.contact-left {
  float: left;
  padding-right: 20px
}

.contact-right {
  position: relative;
  height: 500px;
}

a:hover {
    color: tomato;
}
