header {
  text-align: center;
  border: 2px solid black;
  background:url(images/ruby.png);
  background-size: 15%;
  background-repeat: no-repeat;
}

nav {
    font-size: 1.5rem;
}

section h2:hover {
  color: crimson;
}

p {
  text-align: justify;
}

article > h4 {
  color: red;
}

article li {
  font-weight: bold;
}

ul {
  list-style: none;
}

section {
  background-color: lightyellow;
  padding: 10px;
}

footer {
  border-style: dotted;
  border-width: 2px;
  border-color: black;
  background-color: crimson;
  display: block;
  bottom:0;
  width: 100%;
  padding-bottom: 20px;
  height: 30px;
  color: white;
}

footer p {
  text-align:center;
}

.list-image {
   height: 500px;
}

.list-image img {
  height: 300px;
  float: left;
  margin-left: 25px;
}

.contact-left {
  float: left;
  padding-right: 20px;
}

.contact-right {
  position: relative;
  height: 500px;
}

a:hover {
    color: crimson;
}

#review1-image {
  float: left;
  padding-right: 20px;
}

